.btnMovie button{
    background: none;
    color: #FFD700;
    border: 1px solid #FFD700;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.375rem 0.75rem;
    margin: 0 6px;
    outline: none;
}
.btnMovie button:hover{
    color: white;
    border: 1px solid white;
}
.list-inline{
    color: #FFD700;
}
.reviewInput input{
    width: 70vw;
    background: #ECE7E7;
    border-radius: 5px;
    border: none;
    margin:  5px 0;
    padding: 5px;
}
.reviewInput button{
    color: white;
    background: #FFD700;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 6px;
    outline: none;
}
.stars{
    color: #FFD700;
}